.search{
	background-color: #00CED1;
	border: 0px;
}
.row input{
  margin: 3px;
    width: 230px;
    padding: 8px;
    border: 0px;
    font-size: 15px;
}
.fa-search:before {
    content: "\f002";
    color: #00CED1;
}
.button{
  width: 86px;
    padding: 24px;
    border: 3px;
    margin: 3px 3px;
    /* border-radius: 10px; */
    cursor: pointer;
    font-size: 10px;
    background-color: white;
    color: #00CED1;
}
